<?php

// Database.
$databases['default']['default'] = array(
  'database' => getenv('MYSQL_DATABASE'),
  'username' => getenv('MYSQL_USER'),
  'password' => getenv('MYSQL_PASSWORD'),
  'host' => getenv('DRUPAL_MYSQL_HOST'),
  'driver' => 'mysql',
  'port' => 3306,
  'prefix' => '',
);
